body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #02ceba;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a.active {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.teams {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.teams h2 {
    text-align: center;
    margin-top: 0;
}

.team {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.team:last-child {
    border-bottom: none;
}

.team h3 {
    margin: 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #02ceba;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
